#one {
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}

h5 {
    font-weight: bolder;
    color: black;
}

#two {
    color: white;
    text-align: center;
    align-items: center;
}

body {
    background-color: ghostwhite;
}

#three {
    align-items: center;

}

#four {

}



.card-body {
    width: fit-content
}

#center {
    column-fill: auto;

}

small {
    color: black;
}

#five {
    text-align: center;
    padding: 5px;
}



@media screen and (max-width: 362px) {
    #three {
        display: flex;
        flex-direction: column;
    }

    #two {
        display: flex;
        flex-direction: column;
    }

}